<html>
<head>
<title>TOC for <%= @hostname %></title>
<meta http-equiv="refresh" content="0;url=https://<%= @ec2_public_ipv4 %>/jenkins/">
</head>
<body>
<h1>TOC for <%= @hostname %></h1>
<ol>
  <li><a href="https://<%= @ec2_public_ipv4 %>/jenkins/">Jenkins</a></li>
</ol>
</body>
</html>
